# Editor files
.vscode/

# Ignore actual game files
game/*
!game/.gitkeep

# Build artifacts
build/

# Extracted asm/binary
/asm/
/bin/

# Binaries
*.dll
*.exe
*.obj
*.bin

# Ninja build
build.ninja
.ninja_log
.ninja_deps
